{{- $fullName := include "epoch8-common.fullname" . -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "epoch8-common.fullname" . }}
  labels:
    {{- include "epoch8-common.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "epoch8-common.selectorLabels" . | nindent 6 }}
  {{- if .Values.volumes }}
  strategy:
    type: Recreate
  {{- end }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "epoch8-common.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "epoch8-common.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- include "epoch8-common.hostAliases" . | nindent 6 }}
      volumes:
        {{- if .Values.shmSize }}
        - name: shared-memory
          emptyDir:
            medium: Memory
            sizeLimit: {{ .Values.shmSize }}
        {{- end }}
        {{- range .Values.volumes }}
        - name: {{ .name }}
          {{- if .emptyDir }}
          emptyDir:
            sizeLimit: {{ .size }}
          {{- else if .size }}
          persistentVolumeClaim:
            claimName: {{ $fullName }}-{{ .name }}
          {{- else if .configMap }}
          configMap:
            {{- .configMap | toYaml | nindent 12 }}
          {{- else if .secret }}
          secret:
            {{- .secret | toYaml | nindent 12 }}
          {{- end }}
        {{- end }}
        {{- range .Values.configs }}
        - name: configs
          configMap:
            name: {{ $fullName }}
        {{- end }}
      containers:
        - name: {{ include "epoch8-common.fullname" . }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ include "epoch8-common.image" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.command }}
          command: 
            {{- .Values.command | toYaml | nindent 12 }}
          {{ end }}
          {{- include "epoch8-common.env" . | nindent 10 }}
          livenessProbe:
            exec:
              command:
                - echo
                - ok
          readinessProbe:
            exec:
              command:
                - echo
                - ok
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            {{- if .Values.shmSize }}
            - name: shared-memory
              mountPath: /dev/shm
            {{- end }}
            {{- range .Values.volumes }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
            {{- end }}
            {{- range .Values.configs }}
            - name: configs
              mountPath: {{ if .mountPath }}"{{ .mountPath }}"{{ else }}"/configs/{{ .name }}"{{ end }}
              subPath: {{ .name }}
              readOnly: true
            {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
