{{- $fullName := include "simple-charts-common.fullname" . -}}
{{- $autoscaling := .Values.autoscaling | default .Values.global.autoscaling | default dict -}}

apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "simple-charts-common.fullname" . }}
  labels:
    {{- include "simple-charts-common.labels" . | nindent 4 }}
spec:
  schedule: "{{ .Values.schedule }}"
  timeZone: "{{ .Values.timeZone }}"
  concurrencyPolicy: "{{ .Values.concurrencyPolicy }}"
  jobTemplate:
    spec:
      template:
        metadata:
          {{- include "simple-charts-common.podAnnotations" . | nindent 10 }}
          labels:
            {{- include "simple-charts-common.selectorLabels" . | nindent 12 }}
        spec:
          {{- include "simple-charts-common.imagePullSecrets" . | nindent 10 }}
          serviceAccountName: {{ include "simple-charts-common.serviceAccountName" . }}
          securityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          {{- include "simple-charts-common.hostAliases" . | nindent 10 }}
          volumes:
            {{- if .Values.shmSize }}
            - name: shared-memory
              emptyDir:
                medium: Memory
                sizeLimit: {{ .Values.shmSize }}
            {{- end }}
            {{- range .Values.volumes }}
            - name: {{ .name }}
              {{- if .emptyDir }}
              emptyDir:
                sizeLimit: {{ .size }}
              {{- else if .size }}
              persistentVolumeClaim:
                claimName: {{ $fullName }}-{{ .name }}
              {{- else if .configMap }}
              configMap:
                {{- .configMap | toYaml | nindent 16 }}
              {{- else if .secret }}
              secret:
                {{- .secret | toYaml | nindent 16 }}
              {{- end }}
            {{- end }}
            {{- range .Values.configs }}
            - name: configs
              configMap:
                name: {{ $fullName }}
            {{- end }}
          restartPolicy: "OnFailure"
          containers:
            - name: {{ include "simple-charts-common.name" . }}
              securityContext:
                {{- toYaml .Values.securityContext | nindent 16 }}
              image: "{{ include "simple-charts-common.image" . }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              {{- if .Values.command }}
              command: 
                {{- .Values.command | toYaml | nindent 16 }}
              {{ end }}
              {{- include "simple-charts-common.env" . | nindent 14 }}
              {{- include "simple-charts-common.resources" . | nindent 14 }}
              volumeMounts:
                {{- if .Values.shmSize }}
                - name: shared-memory
                  mountPath: /dev/shm
                {{- end }}
                {{- range .Values.volumes }}
                - name: {{ .name }}
                  mountPath: {{ .mountPath }}
                {{- end }}
                {{- range .Values.configs }}
                - name: configs
                  mountPath: {{ if .mountPath }}"{{ .mountPath }}"{{ else }}"/configs/{{ .name }}"{{ end }}
                  subPath: {{ .name }}
                  readOnly: true
                {{- end }}
          {{- include "simple-charts-common.nodeSelector" . | nindent 10 }}
          {{- include "simple-charts-common.affinity" . | nindent 10 }}
          {{- include "simple-charts-common.tolerations" . | nindent 10 }}
