# CronJob template
# for each .Values.loops item, create a cronjob

{{ $labels := include "datapipe.labels" . }}

{{- range .Values.loops }}

apiVersion: batch/v1
kind: CronJob
metadata: 
  name: {{ .name }}
  labels:
    {{- $labels | nindent 4 }}
spec:
  schedule: "{{ .schedule }}"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: {{ .name }}
            image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag }}"
            command:
              - datapipe
              - step
              {{- if .stepArgs }}
              {{ .stepArgs | toYaml | nindent 14 }}
              {{- end }}
              {{- if .executor }}
              - --executor={{ .executor }}
              {{- else if $.Values.executor }}
              - --executor={{ $.Values.executor }}
              {{- end }}
              {{- if .labels }}
              - --labels={{ .labels }}
              {{- end }}
              - run
            env:
            {{- if $.Values.env }}
              {{- $.Values.env | toYaml | nindent 12 }}
            {{ end }}
            {{- if .env }}
              {{- .env | toYaml | nindent 12 }}
            {{ end }}
            {{- if .resources }}
            resources: {{ .resources | toYaml | nindent 14 }}
            {{- else if $.Values.resources }}
            resources: {{ $.Values.resources | toYaml | nindent 14 }}
            {{- end }}
            ports:
              - name: ray-dash-http
                containerPort: 8265
          restartPolicy: OnFailure
          {{- if .nodeSelector }}
          nodeSelector: {{ .nodeSelector | toYaml | nindent 10 }}
          {{- end }}
          {{- if .tolerations }}
          tolerations: {{ .tolerations | toYaml | nindent 10 }}
          {{- end }}
          {{- if .affinity }}
          affinity: {{ .affinity | toYaml | nindent 10 }}
          {{- end }}
          {{- if .serviceAccountName }}
          serviceAccountName: {{ .serviceAccountName }}
          {{- end }}
          {{- if .securityContext }}
          securityContext: {{ .securityContext | toYaml | nindent 10 }}
          {{- end }}
          {{- if $.Values.imagePullSecrets }}
          imagePullSecrets: {{ $.Values.imagePullSecrets | toYaml | nindent 10 }}
          {{- end }}

--- 
{{- end }}
