{{ if .Values.configs }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "epoch8-common.fullname" . }}
  labels:
    {{- include "epoch8-common.labels" . | nindent 4 }}
data:
  {{- range .Values.configs }}
  {{ .name }}: |
    {{- .value | nindent 4 }}
  {{- end }}
{{ end }}
