{{- $fullName := include "simple-charts-common.fullname" . -}}
{{- $port := .Values.port | default .Values.global.port | default 8000 -}}
{{- $probe := .Values.probe | default .Values.global.probe | default dict -}}
{{- $probePath := $probe.path | default "/" -}}
{{- $livenessProbe := .Values.livenessProbe | default .Values.global.livenessProbe | default dict -}}
{{- $readinessProbe := .Values.readinessProbe | default .Values.global.readinessProbe | default dict -}}
{{- $autoscaling := .Values.autoscaling | default .Values.global.autoscaling | default dict -}}
{{- $replicaCount := .Values.replicaCount | default .Values.global.replicaCount | default 1 -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "simple-charts-common.fullname" . }}
  labels:
    {{- include "simple-charts-common.labels" . | nindent 4 }}
spec:
  {{- if not $autoscaling.enabled }}
  replicas: {{ $replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "simple-charts-common.selectorLabels" . | nindent 6 }}
  strategy:
    {{- if (include "simple-app.needs-recreate" .) }}
    type: Recreate
    {{- else }}
    type: RollingUpdate
    {{- end }}
  template:
    metadata:
      {{- include "simple-charts-common.podAnnotations" . | nindent 6 }}
      labels:
        {{- include "simple-charts-common.selectorLabels" . | nindent 8 }}
    spec:
      {{- include "simple-charts-common.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "simple-charts-common.serviceAccountName" . }}
      {{- if .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- include "simple-charts-common.hostAliases" . | nindent 6 }}
      volumes:
        {{- if .Values.shmSize }}
        - name: shared-memory
          emptyDir:
            medium: Memory
            sizeLimit: {{ .Values.shmSize }}
        {{- end }}
        {{- range .Values.volumes }}
        - name: {{ .name }}
          {{- if .hostPath }}
          hostPath:
            path: {{ .hostPath }}
            type: Directory
          {{- else if .emptyDir }}
          emptyDir:
            sizeLimit: {{ .size }}
          {{- else if .size }}
          persistentVolumeClaim:
            claimName: {{ $fullName }}-{{ .name }}
          {{- else if .configMap }}
          configMap:
            {{- .configMap | toYaml | nindent 12 }}
          {{- else if .secret }}
          secret:
            {{- .secret | toYaml | nindent 12 }}
          {{- end }}
        {{- end }}
        {{- range .Values.configs }}
        - name: configs
          configMap:
            name: {{ $fullName }}
        {{- end }}
      containers:
        - name: {{ include "simple-charts-common.name" . }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ include "simple-charts-common.image" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.workingDir }}
          workingDir: {{ .Values.workingDir }}
          {{- end }}
          {{- if .Values.command }}
          command:
            {{- .Values.command | toYaml | nindent 12 }}
          {{- end }}
          {{- include "simple-charts-common.env" . | nindent 10 }}
          ports:
            - name: http
              containerPort: {{ $port }}
              protocol: TCP
            {{- range .Values.extraPorts }}
            - name: {{ .name }}
              containerPort: {{ .port }}
              protocol: {{ .protocol | default "TCP" }}
            {{- end }}
          livenessProbe:
            {{- if $livenessProbe }}
            {{- toYaml $livenessProbe | nindent 12 }}
            {{- else }}
            httpGet:
              path: {{ $probePath }}
              port: http
            {{- end }}
          readinessProbe:
            {{- if $readinessProbe }}
            {{- toYaml $readinessProbe | nindent 12 }}
            {{- else }}
            httpGet:
              path: {{ $probePath }}
              port: http
            {{- end }}
          {{- include "simple-charts-common.resources" . | nindent 10 }}
          volumeMounts:
            {{- if .Values.shmSize }}
            - name: shared-memory
              mountPath: /dev/shm
            {{- end }}
            {{- range .Values.volumes }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
            {{- end }}
            {{- range .Values.configs }}
            - name: configs
              mountPath: {{ if .mountPath }}"{{ .mountPath }}"{{ else }}"/configs/{{ .name }}"{{ end }}
              subPath: {{ .name }}
              readOnly: true
            {{- end }}
      {{- include "simple-charts-common.nodeSelector" . | nindent 6 }}
      {{- include "simple-charts-common.affinity" . | nindent 6 }}
      {{- include "simple-charts-common.tolerations" . | nindent 6 }}
      {{- if .Values.spreadServiceAcrossNodes }}
      topologySpreadConstraints:
      - labelSelector:
          matchLabels:
          {{- include "simple-charts-common.selectorLabels" . | nindent 12 }}
        maxSkew: 1
        topologyKey: "kubernetes.io/hostname"
        nodeTaintsPolicy: Honor
        whenUnsatisfiable: ScheduleAnyway
      {{- end }}
