{{- $fullName := include "epoch8-common.fullname" . -}}
{{- if .Values.initJob.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ $fullName }}-init"
  labels:
    {{- include "epoch8-common.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-delete-policy": "before-hook-creation,hook-succeeded"
    "helm.sh/hook-weight": "-1"
spec:
  template:
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "hook-job"
          image: "{{ include "simple-app.initJobImage" . }}"
          imagePullPolicy: {{ .Values.initJob.pullPolicy | default .Values.image.pullPolicy }}
          {{- if .Values.initJob.workingDir }}
          workingDir: {{ .Values.initJob.workingDir }}
          {{- end }}
          {{- with .Values.initJob.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- include "epoch8-common.env" . | nindent 10 }}
          resources:
            {{- toYaml .Values.initJob.resources | default .Values.resources | nindent 12 }}
      serviceAccountName: {{ include "epoch8-common.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
{{ end }}
