{{- $monitoringCoreos := .Values.monitoringCoreos | default .Values.global.monitoringCoreos | default dict -}}
{{- if $monitoringCoreos.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    {{- include "simple-charts-common.labels" . | nindent 4 }}
  name: {{ include "simple-charts-common.fullname" . }}
spec:
  endpoints:
    - path: {{ $monitoringCoreos.path | default "/metrics" }}
      port: {{ $monitoringCoreos.port | default "http" }}
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      {{- include "simple-charts-common.selectorLabels" . | nindent 6 }}
{{- end }}